*{
  box-sizing: border-box;
}


.logout{
color:orange;
text-decoration: none;
}

body{
  color: #f2f2f2;
  }


.nav{
  list-style: none;
  color: red;
    display: flex;
    gap: 0.625%;
}


.a{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.a{
  text-decoration: none;
  color:black;
}

.nav:link,
.nav:visited,
.nav:focus {
  color: black;
}



li{
list-style: none;
}


.a{
flex: 1;
text-decoration: none;
outline: none;
text-align: center;
line-height: 1;
color: black;
}

.a:hover {
  background: orange;
} 

h1{
color:orange;
font-size: 3rem;
}

.logout{
margin-left:35%;
}

.container {
  margin-top: 50px;
  padding: 20px;
}

.row{
  justify-content: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-top:-3%;
}

/* .profile-picture {
  width: 100px;
  height: 100px;
  border:1px solid black;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
} */

.user-info {
  font-size: 18px;
  width: 200px;
  height: 200px;
  border:1px solid black;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  background-color: lightgrey;
}

.username {
  margin-top:52px;
  margin-left:6%;
}

.email {
  color: black;
  margin-left:5%; 
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  height: 900px;
  width: 93%;
  align-items: center;
  background-color: lightgray;
}

.pro-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px; /* Adjust the spacing between posts */
}

.pro-feed li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px; /* Adjust the spacing within each post */
  background-color:black;
}

.pro-feed .image-container {
  width: 100%;
}

.pro-feed img {
  width: 100%;
  height: auto;
}



 
 




